body {
    background-image: url(../img/MonImage.jpg);
    background-size: cover;
}

h1 {
    color: blanchedalmond;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

h2 {
    color: black;
    align-self: center;
    text-align: center;
    font-weight: bold;
    background-color: cadetblue;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.bord,
#ListeNotes>* {
    border: 1px solid black;
}

.shad,
#ListeNotes>* {
    box-shadow: 5px 5px 25px black;
    margin-bottom: 20px;
}

#ListeNotes>h2 {
    margin-bottom: auto;
    color: black;
    align-self: center;
    text-align: center;
    font-weight: bold;
    background-color: cadetblue;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 300px;
}

.note-user-img {
    width: 64px;
    max-height: 128px;
    size: auto;
}

#main {
    padding: 10px;
}

.block {
    padding: 10px;
}

.subblock {
    padding: 10px;
    background-color: azure;
    width: 21%;
}

#editionNote {
    width: 250px;
    /*min-height: 300px;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: rgb(236, 227, 89);
}

table {
    width: 100%;
    text-align: center;
    padding-right: 10px;
}

.subblock {
    display: inline-block;
}

#buttons {
    text-align: right;
    margin-bottom: 8px;
    padding-right: 10px;
}

.notes,
#ListeNotes>* {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(154, 247, 247);
    height: 200px;
    width: 20%;
}

.close-note {
    color: red;
    text-align: right;
    margin-bottom: -20px;
    margin-top: -8px;
    margin-right: -8px;
}

#bandeJS {
    background-color: red;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}